:host {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: .5em;
    img {
        height: 25px;
    }
    .name {
        font-size: 24px;
        font-weight: 500;
    }
}

.actions {
    display: flex;
    column-gap: .5em;
    button {
        color: inherit;
        border: 1px solid rgb(219, 170, 170);
        border-radius: 10px;
        min-width: 0;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}