<h1>Políticas de privacidad</h1>

<p>
    INVERSIONES LA CASA IMPERIAL S.A.S ZOMAC comunica a sus grupos de interés la Política de Privacidad y Protección de datos personales que ha sido adoptada en cumplimiento del régimen legal vigente contenido en las leyes estatutarias 1581 de 2012 y 1266 de 2008.
</p>

<P>
    INVERSIONES LA CASA IMPERIAL S.A.S ZOMAC trata datos personales de sus grupos de interés en ejercicio de su objeto social. Adicionalmente, realiza la comercialización y distribución de sus productos con marcas propias o marcas de uso autorizado por terceros, a través de canales electrónicos, físicos y/o en sus establecimientos de comercio ubicados en varias ciudades del país, tales como: contable.novah.dev, Novah.dev entre otros presentes y aquellos que pudieren surgir en un futuro. Razón por la cual los datos personales podrán ser tratados por cualquiera de estas marcas indistintamente.
</P>


<p>
    Los datos personales en custodia de INVERSIONES LA CASA IMPERIAL S.A.S ZOMAC, en su condición de Responsable y/o Encargado según sea el caso, serán tratados dando cumplimiento a los principios y regulaciones previstasen las leyes colombianas y en las políticas internas de privacidad y protección de datos personales.
</p>

<p>
    INVERSIONES LA CASA IMPERIAL S.A.S ZOMAC podrá recolectar, almacenar, usar, procesar, compartir, transferir, transmitir y custodiar, de forma manual o automatizada los datos personales (incluyendo sensibles) de los Titulares, como Responsable, encargándose directamente del tratamiento de los mismos o encargando a un tercero que tenga vínculo comercial con la Compañía, sea que opere o no en otro país, de conformidad con las siguientes finalidades de carácter general
</p>

<ul>
    <li>
        Para el cumplimiento de las obligaciones derivadas de los contratos comerciales y demás negocios jurídicos que celebra INVERSIONES LA CASA IMPERIAL S.A.S ZOMAC en desarrollo de su objeto social.
    </li>
    <li>
        Para el cumplimiento de las obligaciones y/o compromisos derivados de las relaciones, contractuales o no, existentes con sus grupos de interés.
    </li>
    <li>
        Para el cumplimiento de las obligaciones legales que involucren datos personales de sus grupos de interés.
    </li>
    <li>
        Para la gestión comercial y relacionamiento con sus grupos de interés.
    </li>
    <li>
        Para comunicar a sus grupos de interés información sobre sus bienes, servicios, publicaciones, eventos de capacitación y actividades comerciales y publicitarias asociadas a su actividad empresarial, sea que ésta se realice o no de manera directa por INVERSIONES LA CASA IMPIERIAL S.A.S ZOMAC
    </li>
    <li>
        Para desplegar hacia sus grupos de interés actividades de responsabilidad social empresarial.
    </li>
</ul>

<p>
    En cada proceso empresarial, de acuerdo con los datos personales recolectados y el tratamiento a realizar, se informarán de manera previa en el respectivo aviso de privacidad las finalidades particulares, la razón social de INVERSIONES LA CASA IMPIERIAL S.A.S ZOMAC y sus datos de contacto. Si el tratamiento se efectuare por un encargado, este estará bajo las directrices generales de INVERSIONES LA CASA IMPIERIAL S.A.S ZOMAC, y deberá dar cumplimiento a los derechos que le asisten al Titular y poner en marcha los mecanismos dispuestos para dar a conocer las Políticas de Privacidad y Protección de datos personales respectivas.
</p>

<p>
    Cualquier persona que haga parte de uno de los grupos de interés de INVERSIONES LA CASA IMPIERIAL S.A.S ZOMAC, en su condición de Titular o legítimamente autorizado y en relación con el tratamiento de sus datos personales, tiene derecho gratuitamente a:
</p>

<ul>
    <li>
        Ejercer el derecho de Habeas Data, el cual consiste en conocer, actualizar y rectificar su información de carácter personal.
    </li>
    <li>
        Solicitar evidencia de la existencia del consentimiento otorgado, salvo cuando exista una autorización legal para el tratamiento o el mismo se realice en el marco de una relación contractual. Ser informado por el Responsable del tratamiento o el Encargado del tratamiento, previa solicitud, respecto del uso que le ha dado a los datos personales.
    </li>
    <li>
        Revocar la autorización y/o solicitar la supresión de los datos personales, siempre que no exista un deber legal o contractual que impida eliminarlos.
    </li>
    <li>
        Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la Ley 1581 de 2012 y las demás normas que la modifiquen, adicionen o complementen.
    </li>
    <li>
        Acceder en forma gratuita a los datos personales que hayan sido objeto de tratamiento.
    </li>
    <li>
        Abstenerse de dar respuesta a preguntas sobre datos sensibles, o sobre datos personales de los niños, niñas y adolescentes
    </li>
</ul>

<p>
    El ejercicio del derecho de Habeas Data, así como el acceso por el Titular o quien demuestre un legítimo interés a sus datos personales, deberá realizarse a través de los canales dispuestos por INVERSIONES LA CASA IMPERIAL S.A.S ZOMAC, enviando para ello una comunicación escrita al correo {{'buzon@lacasaimperial.com'}}. Para garantizar una adecuada gestión, la solicitud debe contener la siguiente información:
</p>

<ul>
    <li>
        Nombres y apellidos e identificación del Titular del dato personal, y de sus representantes y/o causahabiente de ser el caso.
    </li>
    <li>
        Solicitud concreta, indicando cuál o cuáles derechos de habeas data desea ejercer, qué desea consultar, o en qué consiste su reclamo y cuáles son sus motivos.
    </li>

    <li>
        Dirección física y/o electrónica para dar respuesta a su solicitud.
    </li>

    <li>
        Documentos que soportan la solicitud, si a ello hay lugar.
    </li>
</ul>

<p>
    El responsable de atender las solicitudes en ejercicio de los derechos por parte de los Titulares será el área de Riesgos y Cumplimiento, en los términos, plazos y condiciones establecidos por la normatividad vigente sobre protección de datos personales.
</p>

<p>
    Las bases de datos tendrán el periodo de vigencia que corresponda a la finalidad para la cual se autorizó su tratamiento y de las normas de orden público que regulen la materia.
</p>

<p>
    Por regla general, el término de las autorizaciones sobre el uso de los datos personales de las contrapartes se entiende por el término de la relación comercial o de la vinculación al servicio y durante el ejercicio del objeto social de la compañía.
</p>

<p>
    Esta Política ha sido aprobada por INVERSIONES LA CASA IMPIERIAL S.A.S ZOMAC, como una modificación a la Política inicialmente publicada en este medio, y entrará en vigencia a partir del 1 de Abril 2024.
</p>