:host {
    display: grid;
    grid-row: auto 1fr;
}

.panel-header {
    header {
        background-color: var(--app-header-background-color);
        color: var(--app-header-color);
        padding: .5em 1em;
    }
    nav {
        padding: .5em 1em;
        background-color: var(--app-nav-background-color);
        color: var(--app-nav-color);

    }
    border-bottom: 1px solid hsla(210, 14%, 28%, 0.3);
}

.panel-content {
    display: grid;
    grid-template-rows: 1fr auto;
    overflow: auto;
}