:host {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.payment-method {
    ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1em;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            height: 60px;
            aspect-ratio: 16/10;
            // border: 1px solid rgb(83, 76, 90);
            border-radius: 5px;
            cursor: pointer;
            img {
                height: 100%;
                width: 100%;
                border-radius: inherit;
            }
        }
    }
}

.credits {
    display: grid;
    grid-template-columns: 1fr auto;
}

.our-company {
    ul {
        li {
            cursor: pointer;
        }
    }
}

.policies {
    ul {
        li {
            cursor: pointer;
        }
    }
}

.x {
    ul {
        display: flex;
        flex-direction: column;
        row-gap: .3em;
        li {
            cursor: pointer;
        }
    }
}