<h1>Nuestra tienda</h1>


<section class="card">
    <div class="imaga">
        <img src="https://lh3.googleusercontent.com/p/AF1QipM1BNNHHEt8gToMGXM4nfdML9lgQW0hw212kSj4=s680-w680-h510" alt="La Casa Imperial Sede San José del Guaviare" height="300">
    </div>
    <div>
        <div class="title">
            La Casa Imperial
        </div>

        <div>
            San José del Guaviare
        </div>

        <div>
            Calle 9 No. 19 - 52, B. Porvenir
        </div>

        <div>
            <button>Como llegar</button>
            <button>Ver mapa</button>
        </div>

    </div>

    <div>
        Horarios de atención
        <ul>
            <li>
                Lunes de: 8:00 AM a 7:00 PM 
            </li>
            <li>
                Martes de: 8:00 AM a 7:00 PM 
            </li>
            <li>
                Miércoles de: 8:00 AM a 7:00 PM 
            </li>
            <li>
                Jueves de: 8:00 AM a 7:00 PM 
            </li>
            <li>
                Viernes de: 8:00 AM a 7:00 PM 
            </li>
            <li>
                Sábado de: 8:00 AM a 4:00 PM 
            </li>
        </ul>
    </div>
</section>